{% load admin_static %}
<html>
<head>
	<title>Selamat Datang..</title>
	<link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
</head>
<body>
	Hello Wolrd!!!
	<ul>
	{% for d in data %}
		<li>{{d.user.email}} - {{d.nama_jari}}</li>
	{% endfor %}
	</ul>
</body>
</html>